/src/main/resources/Bundestag90/19001-data.xml
/src/main/resources/Bundestag90/19002-data.xml
/src/main/resources/Bundestag90/19003-data.xml
/src/main/resources/Bundestag90/19004-data.xml
/src/main/resources/Bundestag90/19005-data.xml
/src/main/resources/Bundestag90/19006-data.xml
/src/main/resources/Bundestag90/19007-data.xml
/src/main/resources/Bundestag90/19008-data.xml
/src/main/resources/Bundestag90/19009-data.xml
/src/main/resources/Bundestag90/19010-data.xml
/src/main/resources/Bundestag90/19011-data.xml
/src/main/resources/Bundestag90/19012-data.xml
/src/main/resources/Bundestag90/19013-data.xml
/src/main/resources/Bundestag90/19014-data.xml
/src/main/resources/Bundestag90/19015-data.xml
/src/main/resources/Bundestag90/19016-data.xml
/src/main/resources/Bundestag90/19017-data.xml
/src/main/resources/Bundestag90/19018-data.xml
/src/main/resources/Bundestag90/19019-data.xml
/src/main/resources/Bundestag90/19020-data.xml
/src/main/resources/Bundestag90/19021-data.xml
/src/main/resources/Bundestag90/19022-data.xml
/src/main/resources/Bundestag90/19023-data.xml
/src/main/resources/Bundestag90/19024-data.xml
/src/main/resources/Bundestag90/19025-data.xml
/src/main/resources/Bundestag90/19026-data.xml
/src/main/resources/Bundestag90/19027-data.xml
/src/main/resources/Bundestag90/19028-data.xml
/src/main/resources/Bundestag90/19029-data.xml
/src/main/resources/Bundestag90/19030-data.xml
/src/main/resources/Bundestag90/19031-data.xml
/src/main/resources/Bundestag90/19032-data.xml
/src/main/resources/Bundestag90/19033-data.xml
/src/main/resources/Bundestag90/19034-data.xml
/src/main/resources/Bundestag90/19035-data.xml
/src/main/resources/Bundestag90/19036-data.xml
/src/main/resources/Bundestag90/19037-data.xml
/src/main/resources/Bundestag90/19038-data.xml
/src/main/resources/Bundestag90/19039-data.xml
/src/main/resources/Bundestag90/19040-data.xml
/src/main/resources/Bundestag90/19041-data.xml
/src/main/resources/Bundestag90/19042-data.xml
/src/main/resources/Bundestag90/19043-data.xml
/src/main/resources/Bundestag90/19044-data.xml
/src/main/resources/Bundestag90/19045-data.xml
/src/main/resources/Bundestag90/19046-data.xml
/src/main/resources/Bundestag90/19047-data.xml
/src/main/resources/Bundestag90/19048-data.xml
/src/main/resources/Bundestag90/19049-data.xml
/src/main/resources/Bundestag90/19050-data.xml
/src/main/resources/Bundestag90/19051-data.xml
/src/main/resources/Bundestag90/19052-data.xml
/src/main/resources/Bundestag90/19053-data.xml
/src/main/resources/Bundestag90/19054-data.xml
/src/main/resources/Bundestag90/19055-data.xml
/src/main/resources/Bundestag90/19056-data.xml
/src/main/resources/Bundestag90/19057-data.xml
/src/main/resources/Bundestag90/19058-data.xml
/src/main/resources/Bundestag90/19059-data.xml
/src/main/resources/Bundestag90/19060-data.xml
/src/main/resources/Bundestag90/19061-data.xml
/src/main/resources/Bundestag90/19062-data.xml
/src/main/resources/Bundestag90/19063-data.xml
/src/main/resources/Bundestag90/19064-data.xml
/src/main/resources/Bundestag90/19065-data.xml
/src/main/resources/Bundestag90/19066-data.xml
/src/main/resources/Bundestag90/19067-data.xml
/src/main/resources/Bundestag90/19068-data.xml
/src/main/resources/Bundestag90/19069-data.xml
/src/main/resources/Bundestag90/19070-data.xml
/src/main/resources/Bundestag90/19071-data.xml
/src/main/resources/Bundestag90/19072-data.xml
/src/main/resources/Bundestag90/19073-data.xml
/src/main/resources/Bundestag90/19074-data.xml
/src/main/resources/Bundestag90/19075-data.xml
/src/main/resources/Bundestag90/19076-data.xml
/src/main/resources/Bundestag90/19077-data.xml
/src/main/resources/Bundestag90/19078-data.xml
/src/main/resources/Bundestag90/19079-data.xml
/src/main/resources/Bundestag90/19080-data.xml
/src/main/resources/Bundestag90/19081-data.xml
/src/main/resources/Bundestag90/19082-data.xml
/src/main/resources/Bundestag90/19083-data.xml
/src/main/resources/Bundestag90/19084-data.xml
/src/main/resources/Bundestag90/19085-data.xml
/src/main/resources/Bundestag90/19086-data.xml
/src/main/resources/Bundestag90/19087-data.xml
/src/main/resources/Bundestag90/19088-data.xml
/src/main/resources/Bundestag90/19089-data.xml
/src/main/resources/Bundestag90/19090-data.xml
/src/main/resources/Bundestag90/19091-data.xml
/src/main/resources/Bundestag90/19092-data.xml
/src/main/resources/Bundestag90/19093-data.xml
/src/main/resources/Bundestag90/19094-data.xml
/src/main/resources/Bundestag90/19095-data.xml
/src/main/resources/Bundestag90/19096-data.xml
/src/main/resources/Bundestag90/19097-data.xml
/src/main/resources/Bundestag90/19098-data.xml
/src/main/resources/Bundestag90/19099-data.xml
/src/main/resources/Bundestag90/19100-data.xml
/src/main/resources/Bundestag90/19101-data.xml
/src/main/resources/Bundestag90/19102-data.xml
/src/main/resources/Bundestag90/19103-data.xml
/src/main/resources/Bundestag90/19104-data.xml
/src/main/resources/Bundestag90/19105-data.xml
/src/main/resources/Bundestag90/19106-data.xml
/src/main/resources/Bundestag90/19107-data.xml
/src/main/resources/Bundestag90/19108-data.xml
/src/main/resources/Bundestag90/19109-data.xml
/src/main/resources/Bundestag90/19110-data.xml
/src/main/resources/Bundestag90/19111-data.xml
/src/main/resources/Bundestag90/19112-data.xml
/src/main/resources/Bundestag90/19113-data.xml
/src/main/resources/Bundestag90/19114-data.xml
/src/main/resources/Bundestag90/19115-data.xml
/src/main/resources/Bundestag90/19116-data.xml
/src/main/resources/Bundestag90/19117-data.xml
/src/main/resources/Bundestag90/19118-data.xml
/src/main/resources/Bundestag90/19119-data.xml
/src/main/resources/Bundestag90/19120-data.xml
/src/main/resources/Bundestag90/19121-data.xml
/src/main/resources/Bundestag90/19122-data.xml
/src/main/resources/Bundestag90/19123-data.xml
/src/main/resources/Bundestag90/19124-data.xml
/src/main/resources/Bundestag90/19125-data.xml
/src/main/resources/Bundestag90/19126-data.xml
/src/main/resources/Bundestag90/19127-data.xml
/src/main/resources/Bundestag90/19128-data.xml
/src/main/resources/Bundestag90/19129-data.xml
/src/main/resources/Bundestag90/19130-data.xml
/src/main/resources/Bundestag90/19131-data.xml
/src/main/resources/Bundestag90/19132-data.xml
/src/main/resources/Bundestag90/19133-data.xml
/src/main/resources/Bundestag90/19134-data.xml
/src/main/resources/Bundestag90/19135-data.xml
/src/main/resources/Bundestag90/19136-data.xml
/src/main/resources/Bundestag90/19137-data.xml
/src/main/resources/Bundestag90/19138-data.xml
/src/main/resources/Bundestag90/19139-data.xml
/src/main/resources/Bundestag90/19140-data.xml
/src/main/resources/Bundestag90/19141-data.xml
/src/main/resources/Bundestag90/19142-data.xml
/src/main/resources/Bundestag90/19143-data.xml
/src/main/resources/Bundestag90/19144-data.xml
/src/main/resources/Bundestag90/19145-data.xml
/src/main/resources/Bundestag90/19146-data.xml
/src/main/resources/Bundestag90/19147-data.xml
/src/main/resources/Bundestag90/19148-data.xml
/src/main/resources/Bundestag90/19149-data.xml
/src/main/resources/Bundestag90/19150-data.xml
/src/main/resources/Bundestag90/19151-data.xml
/src/main/resources/Bundestag90/19152-data.xml
/src/main/resources/Bundestag90/19153-data.xml
/src/main/resources/Bundestag90/19154-data.xml
/src/main/resources/Bundestag90/19155-data.xml
/src/main/resources/Bundestag90/19156-data.xml
/src/main/resources/Bundestag90/19157-data.xml
/src/main/resources/Bundestag90/19158-data.xml
/src/main/resources/Bundestag90/19159-data.xml
/src/main/resources/Bundestag90/19160-data.xml
/src/main/resources/Bundestag90/19161-data.xml
/src/main/resources/Bundestag90/19162-data.xml
/src/main/resources/Bundestag90/19163-data.xml
/src/main/resources/Bundestag90/19164-data.xml
/src/main/resources/Bundestag90/19165-data.xml
/src/main/resources/Bundestag90/19166-data.xml
/src/main/resources/Bundestag90/19167-data.xml
/src/main/resources/Bundestag90/19168-data.xml
/src/main/resources/Bundestag90/19169-data.xml
/src/main/resources/Bundestag90/19170-data.xml
/src/main/resources/Bundestag90/19171-data.xml
/src/main/resources/Bundestag90/19172-data.xml
/src/main/resources/Bundestag90/19173-data.xml
/src/main/resources/Bundestag90/19174-data.xml
/src/main/resources/Bundestag90/19175-data.xml
/src/main/resources/Bundestag90/19176-data.xml
/src/main/resources/Bundestag90/19177-data.xml
/src/main/resources/Bundestag90/19178-data.xml
/src/main/resources/Bundestag90/19179-data.xml
/src/main/resources/Bundestag90/19180-data.xml
/src/main/resources/Bundestag90/19181-data.xml
/src/main/resources/Bundestag90/19182-data.xml
/src/main/resources/Bundestag90/19183-data.xml
/src/main/resources/Bundestag90/19184-data.xml
/src/main/resources/Bundestag90/19185-data.xml
/src/main/resources/Bundestag90/19186-data.xml
/src/main/resources/Bundestag90/19187-data.xml
/src/main/resources/Bundestag90/19188-data.xml
/src/main/resources/Bundestag90/19189-data.xml
/src/main/resources/Bundestag90/19190-data.xml
/src/main/resources/Bundestag90/19191-data.xml
/src/main/resources/Bundestag90/19192-data.xml
/src/main/resources/Bundestag90/19193-data.xml
/src/main/resources/Bundestag90/19194-data.xml
/src/main/resources/Bundestag90/19195-data.xml
/src/main/resources/Bundestag90/19196-data.xml
/src/main/resources/Bundestag90/19197-data.xml
/src/main/resources/Bundestag90/19198-data.xml
/src/main/resources/Bundestag90/19199-data.xml
/src/main/resources/Bundestag90/19200-data.xml
/src/main/resources/Bundestag90/19201-data.xml
/src/main/resources/Bundestag90/19202-data.xml
/src/main/resources/Bundestag90/19203-data.xml
/src/main/resources/Bundestag90/19204-data.xml
/src/main/resources/Bundestag90/19205-data.xml
/src/main/resources/Bundestag90/19206-data.xml
/src/main/resources/Bundestag90/19207-data.xml
/src/main/resources/Bundestag90/19208-data.xml
/src/main/resources/Bundestag90/19209-data.xml
/src/main/resources/Bundestag90/19210-data.xml
/src/main/resources/Bundestag90/19211-data.xml
/src/main/resources/Bundestag90/19212-data.xml
/src/main/resources/Bundestag90/19213-data.xml
/src/main/resources/Bundestag90/19214-data.xml
/src/main/resources/Bundestag90/19215-data.xml
/src/main/resources/Bundestag90/19216-data.xml
/src/main/resources/Bundestag90/19217-data.xml
/src/main/resources/Bundestag90/19218-data.xml
/src/main/resources/Bundestag90/19219-data.xml
/src/main/resources/Bundestag90/19220-data.xml
/src/main/resources/Bundestag90/19221-data.xml
/src/main/resources/Bundestag90/19222-data.xml
/src/main/resources/Bundestag90/19223-data.xml
/src/main/resources/Bundestag90/19224-data.xml
/src/main/resources/Bundestag90/19225-data.xml
/src/main/resources/Bundestag90/19226-data.xml
/src/main/resources/Bundestag90/19227-data.xml
/src/main/resources/Bundestag90/19228-data.xml
/src/main/resources/Bundestag90/19229-data.xml
/src/main/resources/Bundestag90/19230-data.xml
/src/main/resources/Bundestag90/19231-data.xml
/src/main/resources/Bundestag90/19232-data.xml
/src/main/resources/Bundestag90/19233-data.xml
/src/main/resources/Bundestag90/19234-data.xml
/src/main/resources/Bundestag90/19235-data.xml
/src/main/resources/Bundestag90/19236-data.xml
/src/main/resources/Bundestag90/19237-data.xml
/src/main/resources/Bundestag90/19238-data.xml
/src/main/resources/Bundestag90/19239-data.xml
/src/main/resources/Bundestag90/20001-data.xml
/src/main/resources/Bundestag90/20002-data.xml
/src/main/resources/Bundestag90/20003-data.xml
/src/main/resources/Bundestag90/20004-data.xml
/src/main/resources/Bundestag90/20005-data.xml
/src/main/resources/Bundestag90/20006-data.xml
/src/main/resources/Bundestag90/20007-data.xml
/src/main/resources/Bundestag90/20008-data.xml
/src/main/resources/Bundestag90/20009-data.xml
/src/main/resources/Bundestag90/20010-data.xml
/src/main/resources/Bundestag90/20011-data.xml
/src/main/resources/Bundestag90/20012-data.xml
/src/main/resources/Bundestag90/20013-data.xml
/src/main/resources/Bundestag90/20014-data.xml
/src/main/resources/Bundestag90/20015-data.xml
/target/classes/Bundestag90/19001-data.xml
/target/classes/Bundestag90/19002-data.xml
/target/classes/Bundestag90/19003-data.xml
/target/classes/Bundestag90/19004-data.xml
/target/classes/Bundestag90/19005-data.xml
/target/classes/Bundestag90/19006-data.xml
/target/classes/Bundestag90/19007-data.xml
/target/classes/Bundestag90/19008-data.xml
/target/classes/Bundestag90/19009-data.xml
/target/classes/Bundestag90/19010-data.xml
/target/classes/Bundestag90/19011-data.xml
/target/classes/Bundestag90/19012-data.xml
/target/classes/Bundestag90/19013-data.xml
/target/classes/Bundestag90/19014-data.xml
/target/classes/Bundestag90/19015-data.xml
/target/classes/Bundestag90/19016-data.xml
/target/classes/Bundestag90/19017-data.xml
/target/classes/Bundestag90/19018-data.xml
/target/classes/Bundestag90/19019-data.xml
/target/classes/Bundestag90/19020-data.xml
/target/classes/Bundestag90/19021-data.xml
/target/classes/Bundestag90/19022-data.xml
/target/classes/Bundestag90/19023-data.xml
/target/classes/Bundestag90/19024-data.xml
/target/classes/Bundestag90/19025-data.xml
/target/classes/Bundestag90/19026-data.xml
/target/classes/Bundestag90/19027-data.xml
/target/classes/Bundestag90/19028-data.xml
/target/classes/Bundestag90/19029-data.xml
/target/classes/Bundestag90/19030-data.xml
/target/classes/Bundestag90/19031-data.xml
/target/classes/Bundestag90/19032-data.xml
/target/classes/Bundestag90/19033-data.xml
/target/classes/Bundestag90/19034-data.xml
/target/classes/Bundestag90/19035-data.xml
/target/classes/Bundestag90/19036-data.xml
/target/classes/Bundestag90/19037-data.xml
/target/classes/Bundestag90/19038-data.xml
/target/classes/Bundestag90/19039-data.xml
/target/classes/Bundestag90/19040-data.xml
/target/classes/Bundestag90/19041-data.xml
/target/classes/Bundestag90/19042-data.xml
/target/classes/Bundestag90/19043-data.xml
/target/classes/Bundestag90/19044-data.xml
/target/classes/Bundestag90/19045-data.xml
/target/classes/Bundestag90/19046-data.xml
/target/classes/Bundestag90/19047-data.xml
/target/classes/Bundestag90/19048-data.xml
/target/classes/Bundestag90/19049-data.xml
/target/classes/Bundestag90/19050-data.xml
/target/classes/Bundestag90/19051-data.xml
/target/classes/Bundestag90/19052-data.xml
/target/classes/Bundestag90/19053-data.xml
/target/classes/Bundestag90/19054-data.xml
/target/classes/Bundestag90/19055-data.xml
/target/classes/Bundestag90/19056-data.xml
/target/classes/Bundestag90/19057-data.xml
/target/classes/Bundestag90/19058-data.xml
/target/classes/Bundestag90/19059-data.xml
/target/classes/Bundestag90/19060-data.xml
/target/classes/Bundestag90/19061-data.xml
/target/classes/Bundestag90/19062-data.xml
/target/classes/Bundestag90/19063-data.xml
/target/classes/Bundestag90/19064-data.xml
/target/classes/Bundestag90/19065-data.xml
/target/classes/Bundestag90/19066-data.xml
/target/classes/Bundestag90/19067-data.xml
/target/classes/Bundestag90/19068-data.xml
/target/classes/Bundestag90/19069-data.xml
/target/classes/Bundestag90/19070-data.xml
/target/classes/Bundestag90/19071-data.xml
/target/classes/Bundestag90/19072-data.xml
/target/classes/Bundestag90/19073-data.xml
/target/classes/Bundestag90/19074-data.xml
/target/classes/Bundestag90/19075-data.xml
/target/classes/Bundestag90/19076-data.xml
/target/classes/Bundestag90/19077-data.xml
/target/classes/Bundestag90/19078-data.xml
/target/classes/Bundestag90/19079-data.xml
/target/classes/Bundestag90/19080-data.xml
/target/classes/Bundestag90/19081-data.xml
/target/classes/Bundestag90/19082-data.xml
/target/classes/Bundestag90/19083-data.xml
/target/classes/Bundestag90/19084-data.xml
/target/classes/Bundestag90/19085-data.xml
/target/classes/Bundestag90/19086-data.xml
/target/classes/Bundestag90/19087-data.xml
/target/classes/Bundestag90/19088-data.xml
/target/classes/Bundestag90/19089-data.xml
/target/classes/Bundestag90/19090-data.xml
/target/classes/Bundestag90/19091-data.xml
/target/classes/Bundestag90/19092-data.xml
/target/classes/Bundestag90/19093-data.xml
/target/classes/Bundestag90/19094-data.xml
/target/classes/Bundestag90/19095-data.xml
/target/classes/Bundestag90/19096-data.xml
/target/classes/Bundestag90/19097-data.xml
/target/classes/Bundestag90/19098-data.xml
/target/classes/Bundestag90/19099-data.xml
/target/classes/Bundestag90/19100-data.xml
/target/classes/Bundestag90/19101-data.xml
/target/classes/Bundestag90/19102-data.xml
/target/classes/Bundestag90/19103-data.xml
/target/classes/Bundestag90/19104-data.xml
/target/classes/Bundestag90/19105-data.xml
/target/classes/Bundestag90/19106-data.xml
/target/classes/Bundestag90/19107-data.xml
/target/classes/Bundestag90/19108-data.xml
/target/classes/Bundestag90/19109-data.xml
/target/classes/Bundestag90/19110-data.xml
/target/classes/Bundestag90/19111-data.xml
/target/classes/Bundestag90/19112-data.xml
/target/classes/Bundestag90/19113-data.xml
/target/classes/Bundestag90/19114-data.xml
/target/classes/Bundestag90/19115-data.xml
/target/classes/Bundestag90/19116-data.xml
/target/classes/Bundestag90/19117-data.xml
/target/classes/Bundestag90/19118-data.xml
/target/classes/Bundestag90/19119-data.xml
/target/classes/Bundestag90/19120-data.xml
/target/classes/Bundestag90/19121-data.xml
/target/classes/Bundestag90/19122-data.xml
/target/classes/Bundestag90/19123-data.xml
/target/classes/Bundestag90/19124-data.xml
/target/classes/Bundestag90/19125-data.xml
/target/classes/Bundestag90/19126-data.xml
/target/classes/Bundestag90/19127-data.xml
/target/classes/Bundestag90/19128-data.xml
/target/classes/Bundestag90/19129-data.xml
/target/classes/Bundestag90/19130-data.xml
/target/classes/Bundestag90/19131-data.xml
/target/classes/Bundestag90/19132-data.xml
/target/classes/Bundestag90/19133-data.xml
/target/classes/Bundestag90/19134-data.xml
/target/classes/Bundestag90/19135-data.xml
/target/classes/Bundestag90/19136-data.xml
/target/classes/Bundestag90/19137-data.xml
/target/classes/Bundestag90/19138-data.xml
/target/classes/Bundestag90/19139-data.xml
/target/classes/Bundestag90/19140-data.xml
/target/classes/Bundestag90/19141-data.xml
/target/classes/Bundestag90/19142-data.xml
/target/classes/Bundestag90/19143-data.xml
/target/classes/Bundestag90/19144-data.xml
/target/classes/Bundestag90/19145-data.xml
/target/classes/Bundestag90/19146-data.xml
/target/classes/Bundestag90/19147-data.xml
/target/classes/Bundestag90/19148-data.xml
/target/classes/Bundestag90/19149-data.xml
/target/classes/Bundestag90/19150-data.xml
/target/classes/Bundestag90/19151-data.xml
/target/classes/Bundestag90/19152-data.xml
/target/classes/Bundestag90/19153-data.xml
/target/classes/Bundestag90/19154-data.xml
/target/classes/Bundestag90/19155-data.xml
/target/classes/Bundestag90/19156-data.xml
/target/classes/Bundestag90/19157-data.xml
/target/classes/Bundestag90/19158-data.xml
/target/classes/Bundestag90/19159-data.xml
/target/classes/Bundestag90/19160-data.xml
/target/classes/Bundestag90/19161-data.xml
/target/classes/Bundestag90/19162-data.xml
/target/classes/Bundestag90/19163-data.xml
/target/classes/Bundestag90/19164-data.xml
/target/classes/Bundestag90/19165-data.xml
/target/classes/Bundestag90/19166-data.xml
/target/classes/Bundestag90/19167-data.xml
/target/classes/Bundestag90/19168-data.xml
/target/classes/Bundestag90/19169-data.xml
/target/classes/Bundestag90/19170-data.xml
/target/classes/Bundestag90/19171-data.xml
/target/classes/Bundestag90/19172-data.xml
/target/classes/Bundestag90/19173-data.xml
/target/classes/Bundestag90/19174-data.xml
/target/classes/Bundestag90/19175-data.xml
/target/classes/Bundestag90/19176-data.xml
/target/classes/Bundestag90/19177-data.xml
/target/classes/Bundestag90/19178-data.xml
/target/classes/Bundestag90/19179-data.xml
/target/classes/Bundestag90/19180-data.xml
/target/classes/Bundestag90/19181-data.xml
/target/classes/Bundestag90/19182-data.xml
/target/classes/Bundestag90/19183-data.xml
/target/classes/Bundestag90/19184-data.xml
/target/classes/Bundestag90/19185-data.xml
/target/classes/Bundestag90/19186-data.xml
/target/classes/Bundestag90/19187-data.xml
/target/classes/Bundestag90/19188-data.xml
/target/classes/Bundestag90/19189-data.xml
/target/classes/Bundestag90/19190-data.xml
/target/classes/Bundestag90/19191-data.xml
/target/classes/Bundestag90/19192-data.xml
/target/classes/Bundestag90/19193-data.xml
/target/classes/Bundestag90/19194-data.xml
/target/classes/Bundestag90/19195-data.xml
/target/classes/Bundestag90/19196-data.xml
/target/classes/Bundestag90/19197-data.xml
/target/classes/Bundestag90/19198-data.xml
/target/classes/Bundestag90/19199-data.xml
/target/classes/Bundestag90/19200-data.xml
/target/classes/Bundestag90/19201-data.xml
/target/classes/Bundestag90/19202-data.xml
/target/classes/Bundestag90/19203-data.xml
/target/classes/Bundestag90/19204-data.xml
/target/classes/Bundestag90/19205-data.xml
/target/classes/Bundestag90/19206-data.xml
/target/classes/Bundestag90/19207-data.xml
/target/classes/Bundestag90/19208-data.xml
/target/classes/Bundestag90/19209-data.xml
/target/classes/Bundestag90/19210-data.xml
/target/classes/Bundestag90/19211-data.xml
/target/classes/Bundestag90/19212-data.xml
/target/classes/Bundestag90/19213-data.xml
/target/classes/Bundestag90/19214-data.xml
/target/classes/Bundestag90/19215-data.xml
/target/classes/Bundestag90/19216-data.xml
/target/classes/Bundestag90/19217-data.xml
/target/classes/Bundestag90/19218-data.xml
/target/classes/Bundestag90/19219-data.xml
/target/classes/Bundestag90/19220-data.xml
/target/classes/Bundestag90/19221-data.xml
/target/classes/Bundestag90/19222-data.xml
/target/classes/Bundestag90/19223-data.xml
/target/classes/Bundestag90/19224-data.xml
/target/classes/Bundestag90/19225-data.xml
/target/classes/Bundestag90/19226-data.xml
/target/classes/Bundestag90/19227-data.xml
/target/classes/Bundestag90/19228-data.xml
/target/classes/Bundestag90/19229-data.xml
/target/classes/Bundestag90/19230-data.xml
/target/classes/Bundestag90/19231-data.xml
/target/classes/Bundestag90/19232-data.xml
/target/classes/Bundestag90/19233-data.xml
/target/classes/Bundestag90/19234-data.xml
/target/classes/Bundestag90/19235-data.xml
/target/classes/Bundestag90/19236-data.xml
/target/classes/Bundestag90/19237-data.xml
/target/classes/Bundestag90/19238-data.xml
/target/classes/Bundestag90/19239-data.xml
/target/classes/Bundestag90/20001-data.xml
/target/classes/Bundestag90/20002-data.xml
/target/classes/Bundestag90/20003-data.xml
/target/classes/Bundestag90/20004-data.xml
/target/classes/Bundestag90/20005-data.xml
/target/classes/Bundestag90/20006-data.xml
/target/classes/Bundestag90/20007-data.xml
/target/classes/Bundestag90/20008-data.xml
/target/classes/Bundestag90/20009-data.xml
/target/classes/Bundestag90/20010-data.xml
/target/classes/Bundestag90/20011-data.xml
/target/classes/Bundestag90/20012-data.xml
/target/classes/Bundestag90/20013-data.xml
/target/classes/Bundestag90/20014-data.xml
/target/classes/Bundestag90/20015-data.xml
/target/classes/Data/Abgeordnete.class
/target/classes/Data/Fraktion.class
/target/classes/Data/Rede.class
/target/classes/Data/Sitzung.class
/target/classes/Data/Tagespunkte.class
/target/classes/Database/CreateConfig.class
/target/classes/Database/MongoDBCollectionHandler.class
/target/classes/Database/MongoDBConnectionHandler.class
/target/classes/Interface/Person_File_Impl.class
/target/classes/NLP/CASDeserializer.class
/target/classes/NLP/CASFolderDeserializer.class
/target/classes/NLP/CASFolderSerializer.class
/target/classes/NLP/CASTextSerializer.class
/target/classes/RESTful/Spark.class
/target/classes/XMLReader/ReadFolderOfXML.class
/target/classes/XMLReader/SingleXMLReader.class
/target/classes/XMLReader/WebCrawler.class
/target/classes/am_posmap.txt
/target/classes/config.properties
/target/classes/ParlamentSentimentRadar.class
